<header>
    <nav class=" navbar navbar-dark bg-secondary navbar-expand-md">
        <div class="container col-md">   
            <a href="/" class="navbar-brand"><h1><b>Developer Task</b></h1></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbar">
               <ul class="navbar-nav ms-auto">
                   <li class="nav-item  "> <a class="nav-link " routerLink="/home">HOME</a> </li>
                   <li class="nav-item"> <a class="nav-link" routerLink="/book">BOOKS</a> </li>
                   <li class="nav-item"> <a class="nav-link" href="#">MOVIES</a> </li>
                   <li class="nav-item"> <a class="nav-link" href="#">STORIES</a> </li>
                 </ul>
           </div>
        </div>
       </nav>
</header>