<footer class="bg-secondary wd" >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 ">
                <h2>Get To Know Us</h2><hr>
                <ul class="list-unstyled ">
                    <li>Careers</li><br>
                    <li>About</li><br>
                    <li>Press Release</li><br>
                    <li>Welfare</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Connect With US</h2><hr>
                <ul class="list-unstyled">
                    <li>Mail</li><br>
                    <li>Facebook</li><br>
                    <li>Twittwer</li><br>
                    <li>Youtube</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Help</h2><hr>
                <ul class="list-unstyled">
                    <li>Payments</li><br>
                    <li>Shipping</li><br>
                    <li>FAQ</li><br>
                    <li>Cancellation</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Policy</h2><hr>
                <ul class="list-unstyled">
                    <li>Terms Of Use</li><br>
                    <li>Cancel Policy</li><br>
                    <li>Payment Policy</li><br>
                    <li>Return Policy</li><br>
                </ul>
            </div>
        </div>
        <div class="row">
           <div class="col-md-12">
               <p> &copy;This is just an task  </p>
           </div>
        </div>
    </div>
   </footer>