<div class="container my-3">
    <div class="row my-2">
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>BOOKS</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>Books are the world's largest repository of knowledge and information. Books have the solutions to every problem and are the best friends who will never leave anyone. Reading books from various genres helps us think and analyse in various ways</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block" (click)="gotoBooks()">Goto Books</button>
                    </div>
                </div>
            </div>
        </div>
         <!--story-->
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>STORIES</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>Reading stries give more pleasure and gave relaxation to mind which we can utilize the more efficiency of brain this will stimulate our brain and manipulate it to to works more efficient.Hence the habit of reading stories is much needed and useful for the brain</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block">Goto Stories</button>
                     </div>
                </div>
            </div>
        </div>
        <!--movie-->
        <div class="col-md-4 my-2">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <div class="card-title text-center bg-secondary display-4"><b>MOVIES</b> </div>
                    <hr>
                    <div class="card-text">
                        <p>A movie or film is a type of visual art that uses images and sounds to tell stories or teach people something. Most people watch movies to entertain themselves or to have fun. Some movies can make people laugh, but other movies can make them cry, or make them feel afraid</p>
                    </div>
                    <div class="card-footer d-grid">
                        <button class="btn btn-dark btn-block">Goto Movies</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
